<!-- web头部 -->
<div class="nzp-head">
  <div class="head-left"><a href="/" class="logo">xx后台管理系统</a></div>
  <div class="head-right">
    <h2>欢迎您-Admin-(管理员)</h2>
    <button type="button" class="btn btn-primary">退出</button>
  </div>
</div>
  